body {
    margin: 0;
    padding: 0;
    background: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 10px;
    height: 100vh;
    border-radius: 2%;
    text-align: center;
    position: relative;
}

.title {
    color: white;
    padding-top: 30px;
    font-size: 3rem;
}

.form-section {
    width: 60%;
    height: 50%;
    position: relative;
    display: flex;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.cover {
    background: #252222;
    position: absolute;
}

#cover {
    margin:5px;
    top: 0%;
    height: calc(100% - 10px);
    width: calc(50% - 10px);
    transition: 1s ease-in-out;
    display: flex;
    justify-content: center;
}

.cover-content {
    background: transparent;
    display: none;
}

.cover-content.active{
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 2; */
}

#login.active {    
    left: 75%;
}

.form {
    width: 50%;
    height: 100%;
}

.credentials {
    margin: 1rem;
    padding: 1rem;
    width: 80%;
    border-radius: 10px;
}

#login, #registration {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
